.gsd-keyboard.settings-ported
GNOME-xdg-terminals.list
autostart/
dconf/
enchant/
evolution/
fish/completions/fishline.fish
fish/conf.d/
fish/functions/__fishline_segment.fish
fish/functions/__fishline_segment_close.fish
fish/functions/__fishline_test.fish
fish/functions/__fishline_usage.fish
fish/functions/__fishline_version.fish
fish/functions/__flseg_arrow.fish
fish/functions/__flseg_clock.fish
fish/functions/__flseg_conda.fish
fish/functions/__flseg_exectime.fish
fish/functions/__flseg_fish.fish
fish/functions/__flseg_fullpwd.fish
fish/functions/__flseg_git.fish
fish/functions/__flseg_invert.fish
fish/functions/__flseg_jobs.fish
fish/functions/__flseg_n.fish
fish/functions/__flseg_pwd.fish
fish/functions/__flseg_root.fish
fish/functions/__flseg_screen.fish
fish/functions/__flseg_separator.fish
fish/functions/__flseg_sigstatus.fish
fish/functions/__flseg_space.fish
fish/functions/__flseg_status.fish
fish/functions/__flseg_user.fish
fish/functions/__flseg_userhost.fish
fish/functions/__flseg_vfish.fish
fish/functions/__flseg_vimode.fish
fish/functions/__flseg_write.fish
fish/functions/fishline.fish
gnome-initial-setup-done
google-chrome/
gtk-3.0/
ibus/
mimeapps.list
neofetch/
nvim_backup/
omf/
pulse/
systemd/
tiling-assistant/
tmux/plugins/
ubuntu-xdg-terminals.list
user-dirs.dirs
user-dirs.locale
xdg-terminals.list
yelp/
nvim/
fish/functions/fish_prompt.fish
fish/functions/fish_prompt.fish
kickstart.nvim
nvim
Code/
jxbrowser/
monitors.xml
monitors.xml~
pavucontrol.ini
obs-studio/
QtProject.conf
vlc/
.luarc.json
zoom.conf
zoomus.conf
Unknown Organization/
